<!DOCTYPE html>
<html>
<head>
  <title>Chat</title>
  <link rel="stylesheet" href="/static/styles.css">
  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"></script>
</head>
<body>
  <a href="/logout"><button>Logout</button></a>
  <h2>Welcome, {{ username }}</h2>
  <ul id="messages">
    {% for msg in history %}
  <li>[{{ msg.timestamp }}] {{ msg.user }}: {{ msg.message }}</li>
    {% endfor %}
  </ul>
  <textarea id="msg" rows="2" placeholder="Type your message..."></textarea><button onclick="sendMsg()">Send</button>

  <script>
  var socket = io();

  function sendMsg() {

  const msgInput = document.getElementById("msg");
  const msg = msgInput.value.trim();
  if (msg.length === 0) return;
  socket.emit("send_message", { message: msg });
  msgInput.value = "";

  }

  socket.on("receive_message", data => {

  const li = document.createElement("li");
  li.textContent = `[${data.timestamp}] ${data.user}: ${data.message}`;
  const msgBox = document.getElementById("messages");
  msgBox.appendChild(li);

  // Auto Scroll
  setTimeout(() => {
    msgBox.scrollTop = msgBox.scrollHeight;
  }, 100);

  });

  document.getElementById("msg").addEventListener("keydown", function (e) {
  if (e.key === "Enter" && !e.shiftKey) {
    e.preventDefault();
    sendMsg();
  }

  });
  </script>

</body>
</html>